.collection{
    padding: 0 100px;

    &__url{
        a{
            color: grey;
        }
        font-size: 13px;
        color: grey;
        width: 100%;
        padding: 12px 0px;    
        border-top: solid 1px rgb(223, 221, 221);
        border-bottom: solid 1px rgb(223, 221, 221);
    }

    &__content{
        display: flex;
        justify-content: flex-start;

        .products{
            flex:1;
            width: 1000px;

            .collection__title{
                text-transform: uppercase;
                font-size: 25px;
                padding: 20px 0;
            }
        }
    }
}